<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Frenzy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->   
    <link href="http://abstract.cs.washington.edu/~hmslydia/utils/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <link href="http://abstract.cs.washington.edu/~hmslydia/utils/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" >
<script type = "text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>  
<!-- Le styles 
<script type = "text/javascript" src="http://abstract.cs.washington.edu/~hmslydia/coda/helpers/jquery.js"></script>
-->  
<script type = "text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type = "text/javascript" src="http://abstract.cs.washington.edu/~hmslydia/coda/helpers/utils.js"></script>
<!--

<script type = "text/javascript" src="textSearch.js"></script>
<script type = "text/javascript" src="twitterFeed.js"></script>
<script type = "text/javascript" src="hashtagSummary.js"></script>
<script type = "text/javascript" src="editTweets.js"></script>
<script type = "text/javascript" src="goals.js"></script>
-->

<!--
<script type = "text/javascript" src="chat.js"></script>
<script type = "text/javascript" src="signInOut.js"></script>

<script type = "text/javascript" src="filter.js"></script>
-->
<script type="text/javascript">
//var twitterFeed = []
var items = {}
var itemIdOrder = []
var query = {}
var queryResultObj = {}
var labelList = []
var autocompleteLabels = []
var autocompleteSessions = []
var lastUpdateTime = 0
//var hierarchy = []
//var completionData = {}
//var userLocations = {}
var username = false
</script>
<script type = "text/javascript" src="utils.js"></script>
<script type = "text/javascript" src="hierarchy.js"></script>
<script type = "text/javascript" src="completionFeedback.js"></script>
<script type = "text/javascript" src="updates.js"></script>
<script type = "text/javascript" src="feed.js"></script>



<link href="/styles.css" rel="stylesheet">

<script type="text/javascript">
/*
//var twitterFeed = []
var items = {}
var itemIdOrder = []
var query = {}
//var hierarchy = []
//var completionData = {}
//var userLocations = {}
var username = false
*/
function ajax(command, message, callbackFunction) {    
	$.post(document.location.href, { "command" : command, args : JSON.stringify(message) }, callbackFunction)
}


function getUsername(){
/*
	var browser = "Chrome"
	var userAgent = $.browser
	if(userAgent.mozilla){
		browser = "Firefox"
	}
	return browser
	*/
	return getTime()
}


function goToHome(){
	/*
	twitterFeedSetup();
	$("#homeButton").attr('src','http://homes.cs.washington.edu/~felicia0/images/twitify/homebutton.png');
	$("#counter").text("");
	*/
}

function checkLogin(){
    console.log("checklogin")
    ajax("checkLogin", {}, function(results){
        var res = JSON.parse(results)
        var hasEmail = res["hasEmail"]
        if(hasEmail == "yes"){
            var email = res["email"]
            setUsername(email)
        }else{
            //do nothing
            window.location = "../login.html"
        }
    })
}

function setUsername(username){
    $("#username").text("Welcome, "+username)
}

$(document).ready(function(){
/*
    goalSetup()
    twitterFeedSetup()
	textSearchSetup()
    signInOutSetup()
    chatSetup()   
*/
    //pushAndPullUpdates({"type":"foo"}, 12334)    
    checkLogin()
    
    goalSetup()
	testSignIn()
	setDefaultQuery()
    setUpTextSearch()
   

	getAllData("synchronous")
    
    //setInterval(function(){ console.log("update"); getAllData("asynchronous") },5000);
})

function testSignIn(){
	ajax("signIn", {"user": getUsername()}, function(result){ 
		var res = JSON.parse(result)
		username = res["user"]
	})
}

function setDefaultQuery(){
	query["type"] = "all"
	query["sortOrder"] = "creationTime"
}

function setUpTextSearch(){

    $("#sortSubmit").click(function(){
        var searchText = $("#search").val().trim()
        if(searchText != ""){
            query = {
                "type" : "text",
                "text" : searchText,        
                "sortOrder" : "creationTime"
            }
            getAllData("synchronous")
            $("#search").val("")
        }
    })    
    
    
    $("#search").keypress(function(event){
        
        console.log(event.which )
        
        if( event.which == 13 ) {
            event.preventDefault();
            var searchText = $("#search").val()
            console.log(searchText)
            query = {
                "type" : "text",
                "text" : searchText,        
                "sortOrder" : "creationTime"
            }
            getAllData("synchronous") 
            $("#search").val("")
        } 
              
    })
}

function getAllData(typeOfRequest){
    getUpdatesSinceTimeT(-1, typeOfRequest)
	console.log(username)
}

function getUpdatesSinceTimeT(t, typeOfRequest){
    pushAndPullUpdates(null, typeOfRequest)
}

function pushAndPullUpdates(myUpdate, typeOfRequest){
    console.log("pushAndPullUpdates")
    var type = "synchronous"
    if(typeOfRequest != undefined){
        type = typeOfRequest
    }
    if(type == "synchronous"){
        lastUpdateTime = getTime()
    }
    console.log("type: "+type)
    var message = {"update": myUpdate, "query": query, "type": type}   
    ajax("update", message, function(result){ handleUpdates(JSON.parse(result))})
}



</script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          
          <div class="nav-collapse collapse">
           
            
            <ul class="nav">
                <li class="active">
                    <p class="navbar-text" id="username"></p> 
                    <!--
                    <div class="homeImage"><a href="#" onclick="goToHome()"><h2 id="counter"></h2><img class="homeButton" id='homeButton' src="http://homes.cs.washington.edu/~felicia0/images/twitify/homebutton.png"></a></div>
                    -->
                </li>
            </ul>
            
            <form class="navbar-form pull-right" id="navBarForm">
                
                <!--
                <input type="text" id="username" placeholder="username" >
                <input type="button" class="btn" id="signInOut" value= "Sign In" />
                <input class="span2" type="text" placeholder="search" id="search">
                -->
                <input class="span2" type="text" placeholder="search" id="search">
                <!--
                <select class="span2" id="sortBy">
                    <option value="default">(default)</option>
                    <option value="mostDiscussed">most discussed</option>
                    <option value="mostDiscussedByMe">most discussed by me</option>
                    <option value="leastDiscussed">least discussed</option>
                    <option value="leastDiscussedByMe">least discussed by me</option>
                    <option value="original">(original order)</option>
                </select>
                -->
              <input type="button" class="btn" id="sortSubmit" value= "Search" />
            </form>
          </div>
          
        </div>
      </div>
    </div>
    
<div id="container" class="containerLeft">
    <div class="row">
        <div class="span4" >
            <div class= "sidebar-nav-fixed">
                <!--
                <div class="row">
                    <div class="span4" >
                       <div id ="composeTweetContainer" style="width:100%" >
                            <div class="column" id="composeTweet">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span4" >
                       <div id ="goalSummaryContainer" class="summaryContainer">
                            
                            <b>Goal:</b><br>
                            <div id="goalDescription">
                           
                            </div>
                            <div id="goalFeedback">
                            </div>
                        </div>
                    </div>
                </div>
				-->
				<div class="row">
                    <div class="span4" >
                       <div id ="sessionSummaryContainer" class="summaryContainer">     
							<b>Sessions:</b><br>
							<div id="sessionSummary"></div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                   <div class="span4" >
                        <div id ="hashtagSummaryContainer" class="summaryContainer">
                            <b>Categories:</b><br>
                            <div class="column" id="labelHierarchy">
                            
                            </div>
                            <!--
                            <input type="button" class="btn" id="outputButton" value= "Output" onclick="outputHierarchy(this)" />
                            -->
                       </div>
                   
                    </div>       
                </div>
            </div>
        </div>
        <div class="span8" > 
            <div class="row">                
                <div class="span8">
					<div id ="searchFeedbackContainer" >
                        <div class="row">                
                            <div class="span8">
                                <div id ="searchFeedbackDiv" >
                            
                                </div>
                            </div>
                        </div>
					</div>
                    <div id ="feedDiv">
                        <div class="span8" id="feed">
                            
                        </div>        
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="chatBox">
  <div id="chatTitleBar">Chat<span>_</span></div>
   <div id="chatLog">
   </div>
   <button id="sendChat">Send</button>   
   <textarea type="text" id="chatEnterArea"></textarea>

</div>     
<!--
<div id="chatBox">
  <div id="chatTitleBar">Chat<span>_</span></div>
   <div id="chatLog">
   </div>
   <button id="sendChat">Send</button>   
   <textarea type="text" id="chatEnterArea"></textarea>

</div>    
-->
</body>
</html>
