<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Frenzy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->   
    <!--<link href="http://abstract.cs.washington.edu/~hmslydia/utils/bootstrap/css/bootstrap.css" rel="stylesheet">-->
    <link href="bootstrap.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <!--<link href="http://abstract.cs.washington.edu/~hmslydia/utils/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
    <link href="bootstrap-responsive.css" rel="stylesheet">
    
	<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" >-->
    <link rel="stylesheet" href="jquery-ui.css" >
    
    <!--<script type = "text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
    <script type = "text/javascript" src="jquery-1.10.2.min.js"></script> 
    
    <!--<script type = "text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>--> 
    <script type = "text/javascript" src="jquery-ui.min.js"></script>   
    
    <script type = "text/javascript" src="bootstrap.min.js"></script>

<script type="text/javascript">
//var twitterFeed = []
var items = {}
var itemIdOrder = []
var query = {}
var queryResultObj = {}
var labelList = []
var autocompleteLabels = []
var autocompleteSessions = []
var lastUpdateTime = 0
var sessionMaking = true
var sessions = []
//var hierarchy = []
//var completionData = {}
//var userLocations = {}
var username = false

var itemsInQueryIveChanged = [] 
//This is introduced to solve the bug that when I search for "Needs work" and I add a category, 
//this item no longer gets updated, because it's not in the list anymore

</script>
<script type = "text/javascript" src="utils.js"></script>
<script type = "text/javascript" src="hierarchy.js"></script>
<script type = "text/javascript" src="completionFeedback.js"></script>
<script type = "text/javascript" src="updates.js"></script>
<script type = "text/javascript" src="feed.js"></script>
<script type = "text/javascript" src="hyperbar.js"></script>



<link href="/styles.css" rel="stylesheet">

<script type="text/javascript">
var username = false

function ajax(command, message, callbackFunction) {    
	$.post(document.location.href, { "command" : command, args : JSON.stringify(message) }, callbackFunction)
}

function getUsername(){
	return getTime()
}

function checkLogin(){
    ajax("checkLogin", {}, function(results){
        var res = JSON.parse(results)
        var hasEmail = res["hasEmail"]
        if(hasEmail == "yes"){
            var email = res["email"]
            setUsername(email)
        }else{
            //do nothing
            window.location = "../login.html"
        }
    })
}

function setUsername(username){
    $("#username").text("Welcome, "+username)
}

window.onresize=function(){
	resizeHierarchy()		        
};

function resizeHierarchy(){
    if(sessionMaking){
        var bottomOfGoalSummary = $("#sessionSummaryContainer").position().top
        var margin = 30;
        var totalHeight = window.innerHeight - margin - bottomOfGoalSummary;
        var sessionHeight = totalHeight/2 - 100
        $("#sessionSummary").css("max-height",sessionHeight + "px");
        
        
        var topLeft = $("#labelHierarchy").position().top +40;
        var margin = 30;
        var h = window.innerHeight - topLeft - margin;
        $("#labelHierarchy").css("max-height",h + "px");
    
    }else{
        var topLeft = $("#labelHierarchy").position().top +40;
        var margin = 30;
        var h = window.innerHeight - topLeft - margin;
        $("#labelHierarchy").css("max-height",h + "px");
    }
}

$(document).ready(function(){
    //checkLogin()    
    goalSetup()
	testSignIn()
	setDefaultQuery()
    setUpTextSearch()
    setUpAbstractHideShow()
   
	getAllData("synchronous")
    setInterval(function(){ getAllData("asynchronous") },5000);
})

function setUpAbstractHideShow(){
    $("#expandAll").click(function(){
        $(".item").each(function(t){
            var itemId = $(this).attr("id")            
            $("#short-abstract-"+itemId).hide()
            $("#full-abstract-"+itemId).show()
            
        })
    })
    $("#collapseAll").click(function(){
        $(".item").each(function(t){
            var itemId = $(this).attr("id")            
            $("#short-abstract-"+itemId).show()
            $("#full-abstract-"+itemId).hide()
            
        })    
    })
}

function testSignIn(){
	ajax("signIn", {"user": getUsername()}, function(result){ 
		var res = JSON.parse(result)
		username = res["user"]
        console.log("signed in as user " + username)
	})
}

function setDefaultQuery(){
	query["type"] = "all"
	query["sortOrder"] = "creationTime"
    
    
    $('#sessionSort').on('change', function() {
        var sortType = $(this).val() 
        displaySessionsSorted(sortType)
    });
    
    $('#categoriesSort').on('change', function() {
        var sortType = $(this).val() 
        displayCategoriesSorted(sortType)
    });
    
    $("#showAllCategories").click(function(){
        query = {
            "type" : "all",      
            "sortOrder" : "creationTime"
        }
        getAllData("synchronous") 
    })
    
    if(sessionMaking){
        var key1 = "mostSessionNeeded"
        var value1 = "most papers needing sessions"
        $('#categoriesSort').append($("<option></option>").attr("value",key1).text(value1));
        
        var key2 = "leastSessionNeeded"
        var value2 = "least papers needing sessions"
        $('#categoriesSort').append($("<option></option>").attr("value",key2).text(value2));        
    
    }
}

function setUpTextSearch(){
    $("#sortSubmit").click(function(){
        var searchText = $("#search").val().trim()
        if(searchText != ""){
            query = {
                "type" : "text",
                "text" : searchText,   
                
                "sortOrder" : "creationTime"
            }
            getAllData("synchronous")
            $("#search").val("")
        }
    })    
        
    $("#search").keypress(function(event){              
        if( event.which == 13 ) {
            event.preventDefault();
            var searchText = $("#search").val()
            query = {
                "type" : "text",
                "text" : searchText, 
                "labels" : [],    
                "sortOrder" : "creationTime"
            }
            getAllData("synchronous") 
            $("#search").val("")
        }               
    })
}

function getAllData(typeOfRequest){
    getUpdatesSinceTimeT(-1, typeOfRequest)
}

function getUpdatesSinceTimeT(t, typeOfRequest){
    pushAndPullUpdates(null, typeOfRequest)
}

function pushAndPullUpdates(myUpdate, typeOfRequest){

    var type = "synchronous"
    if(typeOfRequest != undefined){
        type = typeOfRequest
        
    }
    if(type == "synchronous"){
        lastUpdateTime = getTime()
        putUpSpinner()
    }
    
    var message = {"update": myUpdate, "query": query, "type": type}   
    ajax("update", message, function(result){ 
        try {
            handleUpdates(JSON.parse(result))  
            //resizing the hierarchy only really needs to be done here the first time the page loads 
            resizeHierarchy() 
            
            if(type == "synchronous"){
                window.scrollTo(0, 0);
            }
        } finally {
            takeDownSpinner()
        }
    })
}

function putUpSpinner(){
    $("#rightHandSide").addClass("masked")
}
function takeDownSpinner(){
    $("#rightHandSide").removeClass("masked")
}

</script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          
          <div class="nav-collapse collapse">
           
            
            <ul class="nav">
                <li class="active">
                    <p class="navbar-text" id="username"></p> 
                    
                    
                </li>
            </ul>
            
            <form class="navbar-form pull-left" id="navBarForm">
                <input type="button" class="btn" id="showAllCategories" value="Show all"></input>
                    <input class="span2" type="text" placeholder="search" id="search">
                    <input type="button" class="btn" id="sortSubmit" value= "Search" />
                    
                    <input type="button" class="btn" id="expandAll" value= "Expand all" />
                    <input type="button" class="btn" id="collapseAll" value= "Collapse all" />
                <!--
                <input type="text" id="username" placeholder="username" >
                <input type="button" class="btn" id="signInOut" value= "Sign In" />
                <input class="span2" type="text" placeholder="search" id="search">
                -->
                
                <!--
                <select class="span2" id="sortBy">
                    <option value="default">(default)</option>
                    <option value="mostDiscussed">most discussed</option>
                    <option value="mostDiscussedByMe">most discussed by me</option>
                    <option value="leastDiscussed">least discussed</option>
                    <option value="leastDiscussedByMe">least discussed by me</option>
                    <option value="original">(original order)</option>
                </select>
                -->

            </form>
          </div>
          
        </div>
      </div>
    </div>
    
<div id="container" class="containerLeft">
    <div class="row">
        <div class="span4" >
            <div class= "sidebar-nav-fixed">
                <!--
                <div class="row">
                    <div class="span4" >
                       <div id ="composeTweetContainer" style="width:100%" >
                            <div class="column" id="composeTweet">
                                
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="span4" >
                       <div id ="goalSummaryContainer" class="summaryContainer">
                            
                            <b>Goal:</b><br>
                            <div id="goalDescription">
                           
                            </div>
                            <div id="goalFeedback">
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="row" id='sessionMakingRow'>
                    <div class="span4" >
                       <div id ="sessionSummaryContainer" class="summaryContainer">     
							<b>Sessions</b> sort by: 
                                <select id="sessionSort">
                                      <option value="mostItems">most papers</option>
                                      <option value="leastItems">least papers</option>
                                      <option value="az">a-z</option>
                                      <option value="za">z-a</option>
                                </select>
                            
                            
                            <br>
							<div id="sessionSummary"></div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                   <div class="span4" >
                        <div id ="hashtagSummaryContainer" class="summaryContainer">
                            <b>Categories:</b> sort by:
                                <select id="categoriesSort">
                                    <option value="mostItems">most papers</option>
                                    <option value="leastItems">least papers</option>
                                    <option value="az">a-z</option>
                                    <option value="za">z-a</option>
                                </select>
                            <br>
                            
                            <div class="column" id="labelHierarchy">
                            
                            </div>
                            <!--
                            <input type="button" class="btn" id="outputButton" value= "Output" onclick="outputHierarchy(this)" />
                            -->
                       </div>
                   
                    </div>       
                </div>
            </div>
        </div>
        <div class="span8" id="rightHandSide"> 
            <div class="row">                
                <div class="span8">
					<div id ="searchFeedbackContainer" >
                        <div class="row">                
                            <div class="span8">
                                <div id ="searchFeedbackDiv" >
                            
                                </div>
                            </div>
                        </div>
					</div>
                    <div id ="feedDiv">
                        <div class="span8" id="feed">
                            
                        </div>        
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div> 
<!--
<div id="chatBox">
  <div id="chatTitleBar">Chat<span>_</span></div>
   <div id="chatLog">
   </div>
   <button id="sendChat">Send</button>   
   <textarea type="text" id="chatEnterArea"></textarea>

</div>     

 
-->
</body>
</html>
