
body {
	background-image: url('http://homes.cs.washington.edu/~felicia0/images/twitify/spring.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	width:100%;
	margin:0 auto;
	min-height: 100%;
	min-width: 1000px;
	overflow: visible;
}

#container{
    background: rgba(105, 105, 105, 0.5);   
    margin-left: 40px;
}

.containerLeft{

    
}

label{
	color:white; 
}
 
.item{
    padding:5px;
    margin: 5px;
    background-color: white;
    border-radius: 6px;
}
/*
.item{
    padding:5px;
    margin: 5px;
    background-color: white;
    opacity: 1.0;
   
}
*/
.replyTextArea{
	/*width: 390px;*/
	width:93%;
	height: 70px;
	margin-left: 10px;
	margin-top: 10px;
}
.replyTextDiv{
	margin-top:15px;
	/*border-top-style:solid;
	border-top-color:blue;
	border-top-width: 1px;*/
	
	/*border: 1px solid blue;*/
	padding-bottom: 5px;
    border-radius: 6px;
}

.subReplyTextArea{
	border: 1px solid blue;
	padding-bottom: 20px;
	margin-bottom: 8px;
    border-radius: 6px;
}

.replyList{
	margin-top: 5px;
	margin-bottom: 10px;
    margin-left:0px;
    
    border-radius: 6px;
}

.replyButton{
	margin-left: 10px;
}

.hashtag{
    color: blue;
    cursor: pointer;
}
.userNameSpan{
	color:green;
	font-size: medium;
}
.user{
    color: blue;
    cursor: pointer;
    font-face: bold;
}
#logo_img{
	display: inline-block;
	float:left;
}
#home_img{
	display: inline-block;
	float: left;
}
#discussionDiv{
	position: relative;
}

.summaryContainer{
    padding:5px;
    margin: 5px;
    background-color: white;
    border-radius: 6px;
	width: 100%
}
/*
#completenessEvaluation{
	padding-top: 5px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 10px;
}
#feedDiv{
	padding-top: 5px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 10px;
}*/
#composeTweetContainer{
    padding:5px;
    margin: 5px;
    
    background-color: white;
    border-radius: 6px;
}

.highlight{
    font-face: bold;
}
.sidebar-nav-fixed {
     position:fixed;
}

#newTweetCounter{
	border:2px solid;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
	display:block;
	color: blue;
    cursor: pointer;
    font-face: bold; 
    background-color: red;
}
#newTweetCounterTop{
	border:2px solid;
	border-radius:25px;
	text-align: center;
	color: black;
    cursor: pointer;
    font-face: bold; 
    background-color: grey;
    width: 100%;
}

.homeButton{
	clear:both;
	left:-40px;
}
#counter{
	left:75px;
	color: white;
}
.homeImage { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.paddingTop{
	padding-top: 20px;
}

#searchFeedbackContainer{
	position: fixed;
    z-index: 10;    
}

#searchFeedbackDiv{
	background-color: white;
	margin: 5px;
	padding: 5px;
	font-size:medium;
	font-style: bold;
    border-radius: 6px;
}


h2 { 
   position: absolute; 
   top: -12px; 
   left: 40px; 
   width: 100%; 
   font-size:medium;
   font-style: bold;
}
/*
CHAT
*/
#chatBox {
   position: fixed;
   bottom: 0px;
   right: 10px;
   width: 200px;
   height: 150px;
   border: 1px solid black;
   background-color: white;
}

#chatLog {
   height: 57%;
   overflow: auto;
   overflow-y: scroll;
   padding: .2em;
   width: 100%;
}

#chatLog p {
  margin-top: .2em;
  margin-bottom: .2em;
}

#chatEnterArea {
   padding: .2em;
   height: 22%;
   border: 1px solid blue;
   overflow: auto;
   border-radius: 0;
   -webkit-border-radius: 0;
   width: 72%;
   float: right;
}

#chatBox button {
  width: 24%;
  margin-top: .5em;
  /*position: relative;*/
  float: right;
  /*top: -54px;*/
}

#chatTitleBar {
  background-color: #009933;
  color: white;
}

#chatTitleBar span {
  float: right;
  padding-right: .3em;
  padding-left: .3em;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

#chatBox.hideChat {
  bottom: -130px !important;
}

/*

*/

.button{
	height:40px;
}
.newDiscussion{
	background-color: pink;
}
.newDiscussion2{
	background-color: yellow;
}
.newLike{
	font-weight: bold;
	color:pink;
}
.beingEdited{
    border: 5px solid blue;
}

/*
Styles for the goals/requiresment (each item needs at least one hashtag)
*/
#matchingRequirmentsButton{
    margin-right: 20px;
}
#completenessFeedback{
    display: inline-block;
    margin-left: 425px;
}
    
#signOut{
    margin-left: 10px;
}




.numResults{
    font-weight: bold;
    font-size: 20px;
}

.categoryClickable{
    cursor: pointer;
    color: blue;
}

.sessionClickable{
    cursor: pointer;
    color: blue;
}


.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:grey;
    opacity: .9;
    text-align:center;
    font-weight: bold;
    font-size: 20px;
}

.refreshDiv{
    position:relative;
    top: 140px;
}

.refreshText{
    color: blue;
    text-decoration:underline;
    cursor: pointer;
}
.more-abstract, .less-abstract{
    color: blue;
    text-decoration:underline;
    cursor: pointer;
    float: right;
}

.systemLabel{
    color: blue;
}
.nonSystemLabel{
    color: red;
}

#hashtagSummaryContainer{
    padding:5px;
    margin: 5px;
    background-color: white;
    border-radius: 6px;
    /*overflow-y: scroll;
    min-height: 200px;*/
    
}
#labelHierarchy{
    overflow-y: auto;
}